<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject" id="named1">Histórico de situações</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="id1d3" class="row">
                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                        <tr class="singular-form-table-row">
                            <th>
                                Situação
                            </th>
                            <th>
                                Responsável
                            </th>
                            <th>
                                Ação Executada
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr wicket:id="linhas">
                            <td wicket:id="nomeAnalise"></td>
                            <td wicket:id="responsavel"></td>
                            <td wicket:id="executedTransition"></td>
                            <td wicket:id="data"></td>
                            <td>
                                <div wicket:id="formulariosBtn" class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        Formulários <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li wicket:id="botoes">
                                            <a wicket:id='button'>
                                                <span wicket:id='button-label'></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</wicket:panel>
</html>