<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <div class="portlet light" style="box-shadow: none;border: 1px solid #9fa491;border-radius: 3px">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase"> <span wicket:id="title"></span></span>
            </div>
            <div class="actions">
                <a type="button" wicket:id="viewContent" class="btn btn-default">
                    <i class="fa fa-eye"></i> Visualizar
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div style="overflow: auto; width: auto; max-height: 200px;">
                <input type="hidden" wicket:id="content">
                <div wicket:id="contentWrapper"></div>
            </div>
        </div>
    </div>
</wicket:panel>
</html>